b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
package-lock.json

.idea/*
*.iml
projectFilesBackup

.DS_Store

dist/

config.json
changelog.md
changelog.md.bk

assets/built/*
!assets/built/.gitkeep

assets/jsdelivr/*
!assets/jsdelivr/.gitkeep
assets/fonts/merriweather/*
!assets/fonts/merriweather/.gitkeep
assets/fonts/source-sans-pro/*
!assets/fonts/source-sans-pro/.gitkeep