{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main id="gh-main" class="post_index">
    {{> "components/post-list" feed="index" postFeedStyle=@custom.post_feed_style}}
</main>