{{!< default}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the page --}}

<main id="gh-main">
    <article class="gh-article {{post_class}}">
        <section class="post">

            {{#match @page.show_title_and_feature_image}}
            <header class="major">
                {{#if @custom.show_publish_date}}
                <span class="date">{{date format="MMMM D, YYYY"}}</span>
                {{/if}}

                {{> "feature-image"}}

                <h1>{{title}}</h1>
            </header>
            {{/match}}

            <div class="content is-body">
                {{content}}
            </div>

        </section>
    </article>
</main>

{{/post}}