{{!< default}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the page --}}

<main id="gh-main">
    <article class="gh-article {{post_class}}">
        {{#match @page.show_title_and_feature_image}}
        {{> "components/post-header" titleFirst=false}}
        {{/match}}

        <div class="content is-body">
            {{content}}
        </div>
    </article>
</main>

{{/post}}