<footer class="gh-footer">
    <ul>
        <li>&copy; {{@site.title}}</li>
        <li class="i18n-target" data-i18n="[html]theme:copyright_design">Design by <a href="https://html5up.net" target="_blank">HTML5 UP</a> and <a href="https://jochum.dev" target="_blank">jochumdev</a></li>
        <li class="i18n-target" data-i18n="[html]theme:published_with">Published with <a href="https://ghost.org" target="_blank">Ghost</a></li>
    </ul>
</footer>