{{!--
    Parameters:
    * feed (index, home, archive)
    * postFeedStyle (list, grid)
--}}

<section class="gh-post-list">
    <section class="posts">
        {{!-- Homepage --}}
        {{#match feed "home"}}
            {{#get "posts" include="authors" page=pagination.page limit=@config.posts_per_page}}
                {{#foreach posts}}
                    {{> "post-card" lazyLoad=true}}
                {{/foreach}}
            {{/get}}
        {{/match}}

        {{!-- All posts --}}
        {{#match feed "index"}}
            {{#foreach posts}}
                {{> "post-card" lazyLoad=true}}
            {{/foreach}}
        {{/match}}

        {{!-- Tag and author pages --}}
        {{#match feed "archive"}}
            {{#foreach posts}}
                {{> "post-card" lazyLoad=true}}
            {{/foreach}}
        {{/match}}
    </section>

    {{!-- Pagination --}}
    {{#match pagination.page ">=" 1}}
        {{pagination}}
    {{/match}}
</section>