{{!--
    Parameters:
    * titleFirst (true, false)
--}}

<header class="gh-article-header">
    {{#if titleFirst }}
    {{else}}
        {{> "feature-image"}}
    {{/if}}
    <h1>{{title}}</h1>
    {{#if titleFirst}}
        {{> "feature-image"}}
    {{/if}}
    {{#if custom_excerpt}}
        <p class="gh-article-excerpt">{{custom_excerpt}}</p>
    {{/if}}
</header>